In [ ]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

## 슬라이싱

In [ ]:
obj = Series(np.arange(4.), index=['a', 'b', 'c','d']); obj

In [ ]:
obj['b':'c']

In [ ]:
# 슬라이싱한 결과에 값 대입
obj['b':'c'] = 10
obj

In [ ]:
df = DataFrame(np.arange(16).reshape(4, 4),
               index=['Seoul', 'Busan', 'Daegu', 'Incheon'],
               columns=['one', 'two', 'three', 'four'])
df

In [ ]:
# 데이터 프레임 슬라이싱
df[1:2]

In [ ]:
# 컬럼 index 기준으로 슬라이싱 하려면 [행, 열] 조합
df.loc[:, 'one']

In [ ]:
# 두 축을 모두 지정해서 슬라이싱
df.loc[:, ['two', 'three']]

In [ ]:
df

In [ ]:
# [실습]
# 6, 7
# 10, 11      데이터프레임으로 리턴해서 출력해보세요 (2행 2열 데이터 프레임)

In [ ]:
# iloc 도 가능

In [ ]:
df.iloc[[3, 2], [3, 0, 1]]

### 조건 부여 가능 (filtering)

In [ ]:
df

In [ ]:
df.three

In [ ]:
# 7보다 큰 값 찾기
df.three > 7

In [ ]:
# 'three' 컬럼 기준으로 7보다 큰 값이 있는 데이터만 추출 : 데이터프레임[조건]
# 추출할 때 True만 추출
df[df.three > 7]

In [ ]:
# [실습]
# df을 df2로 복사 한 후
# df2에서 5보다 작은값을 모두 0으로 수정해보세요
# [Hint] True로 리턴되는 값만 인덱싱되는 것을 유의

In [ ]:
# 특정 조건을 만족하는 데이터 제한 가능 - 특성을 연결해서 사용할 수 있다
df[df.three > 5].iloc[:2]

## 정렬

* 행 인덱스, 열 인덱스 순으로 정렬하는 등의 기준이 필요

In [ ]:
# 임의의 정규분포 데이터 생성
df = DataFrame(np.random.randn(4, 3), columns=list('dbe'),
               index=['Seoul', 'Busan', 'Daegu', 'Incheon'])
df

* Series 객체 정렬

In [ ]:
s1 = df.e.copy()
s1

In [ ]:
# Series 객체
s1.sort_index()

In [ ]:
# 내림차순으로 정렬
s1.sort_index(ascending=False)

In [ ]:
# Series 객체
s1.sort_values()

* 데이터프레임 정렬

In [ ]:
df

In [ ]:
# 데이터 프레임
df.sort_index()

In [ ]:
# 데이터 프레임 정렬
df.sort_index(axis=1)

In [ ]:
# value 기반 정렬 (by 속성에 기준 컬럼을 지정해야함에 유의)
df.sort_values(by='b')

In [ ]:
# 여러 개의 컬럼을 기준으로 사용 가능
df2 = DataFrame({'b':[4, 7, -5, 2], 'a':[0, 1, 0, 1]})
df2

In [ ]:
df2.sort_values(by=['a', 'b'])

In [ ]:
# NaN 있는 경우
obj = Series([4, np.nan, 8, np.nan, -10, 2])
obj

In [ ]:
obj.sort_values()

In [ ]:
obj.sort_values(ascending=False)

## 순위

* rank()

* 원본데이터의 순서 정보

In [ ]:
s1 = Series([7, -2, 7, 4, 2, 0, 4])
s1

In [ ]:
s1.rank()

# 기본 오름차순 정렬을 했을 때 데이터 나열 순서 정보
# 중복된 데이터는 순위의 평균값으로 처리하고 있음에 유의

In [ ]:
# 동점(률) 처리 중 먼저 입력된 것을 우선순위
s1.rank(method='first')

In [ ]:
# 내림차순 순위매기기 - 동점(률) 처리 - 그룹 지어서 순위 매기기
print(s1)
print('-'*40)
print(s1.rank(ascending=False, method='min'))

## 기술통계

* 일반적인 수학/통계 함수들을 제공해주고 있음

* 처음부터 결측치(누락 데이터)를 제외하도록 설계되어 있음.

In [ ]:
df = DataFrame([
    [1.3, np.nan], [7.1, -4.5], [np.nan, np.nan], [0.75, -1.3]],
    index=list('abcd'), columns=['one', 'two']
)

df

In [ ]:
# sum()
df.sum()

In [ ]:
# row 단위로 수행
df.sum(axis=1)

In [ ]:
# NaN을 제외하지 않고 연산을 수행 : skipna 옵션 (default : True)
df.sum(axis=1, skipna=False)

In [ ]:
df

In [ ]:
# 누산(누적합) : cumsum()
df.cumsum()

In [ ]:
df

In [ ]:
df.cumsum(axis=1)

In [ ]:
df.cumsum(axis=1, skipna=False)

In [ ]:
df

In [ ]:
# value가 가장 큰 값이 있는 row 인덱스를 리턴
df.idxmax()

In [ ]:
# value가 가장 작은 값이 있는 row 인덱스를 리턴
df.idxmin()

In [ ]:
# axis=1이면 value가 가장 큰 값이 있는 column 인덱스를 리턴
df.idxmax(axis=1)

In [ ]:
df.idxmin(axis=1)

In [ ]:
# 도수 (값의 수를 계산)
s1 = Series(['c', 'a', 'd', 'a', 'a', 'b', 'b', 'c', 'c'])
len(s1)

In [ ]:
s1.value_counts()

In [ ]:
# 도수 => 그룹화 => 유일한 값
s1.unique()

In [ ]:
# [실습] 유일한 값으로 되돌려진 결과를 최종적으로 정렬해보세요

In [ ]:
# isin() : 어떤 값의 유무를 확인하는 함수 - T/F로 리턴

In [ ]:
s1

In [ ]:
check = s1.isin(['b'])
check

In [ ]:
# 찾고자 하는 값이 여러 개인 경우도 가능
check = s1.isin(['b', 'c'])
check

In [ ]:
# 원하는 데이터(결과가 True인 값)만 인덱싱 가능
s1[check]

## NaN 처리

* 결측치(누락된 데이터) 처리 : pandas 설계 목표 중 하나는 누락된 데이터를 쉽게 처리하도록 도와주는 것

* pandas에서는 누락된 데이터를 모두 NaN(Not a Number) 로 취급

In [ ]:
strData = Series(['aaa', 'bbb', np.nan, 'ddd'])
strData

In [ ]:
# NaN 찾는 함수 : isnull(), notnull()
strData.isnull()

In [ ]:
strData[0] = None
strData

In [ ]:
strData.isnull()

### 누락된 데이터 골라내기 (삭제)

In [ ]:
data = Series([1, np.nan, 3.4, np.nan, 8]); data

In [ ]:
# dropna()
data.dropna()

In [ ]:
# 불리언(boolean) 색인을 이용해서 직접 찾은 다음 골라내기
data.notnull()

In [ ]:
data[data.notnull()]

In [ ]:
data = DataFrame([
    [1, 5.5, 3], [1, np.nan, np.nan], [np.nan, np.nan, np.nan], [np.nan, 3.3, 3]
])

data

In [ ]:
data.dropna()    # 기본적으로 NaN이 하나라도 있으면 그 행을 제외

In [ ]:
# 모든 행이 NaN인 행만 제외
data.dropna(how='all')

In [ ]:
data[4] = np.nan

data

In [ ]:
# 모든 데이터가 NaN인 열을 제외
data.dropna(how='all', axis=1)

In [ ]:
data

In [ ]:
# tresh : 결측치(NaN)가 아닌 관찰값(value)가 지정한 인수값 미만인 경우에 제외
data.dropna(thresh=2)

### 누락된 데이터 채우기 (권장)

In [ ]:
data

In [ ]:
# dropna  <-> fillna
data.fillna(0)

In [ ]:
# fillna를 다양한 활용법에 따라서 채우는 형식을 다양하게 지정할 수 있음
data

In [ ]:
# 특정 컬럼만 채우기
data.fillna({1 : 10, 4 : 30})

In [ ]:
data

In [ ]:
# 특정값(통계값) 채우기
data.fillna(data.mean())

In [ ]:
# 바로 위에 있는 값으로 채우기
data

In [ ]:
data.fillna(method='ffill')

In [ ]:
data.fillna(method='ffill', limit=1)